@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Majal<br />
    <abbr title="Phone">P:</abbr>
    0111157888
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">Majal@gmail.com</a>
</address>