@model Majal.Models.appointment

@{
                /**/

                ViewBag.Title = "Full Course";
}

<h3>This Course is Full, Please Reserve in Another Course.</h3>

<br />
<br /> <input type="button" value="Back To User Dash Board" onclick="window.location= '@Url.Action( "UserDashBoard", "user")'" />

<div>
    @Html.ActionLink("Log out", "login", "user")
</div>
